@keyframes progress {
  from {
    left: 0;
    transform: translateX(-100%);
  }

  to {
    left: 100%;
    transform: translateX(100%);
  }
}

.main__stream {
  display: flex;
  flex-direction: column;
  padding: 28px 0 47px 0;
  min-height: 100vh;
}

.main__stream-title {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 500;
}

.main__specialty {
  margin-bottom: 26px;

  &:last-of-type {
    margin-bottom: 44px;
  }
}

.main__stream-error {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: $text-basic;
}

.main__stream-progress {
  position: relative;
  margin-bottom: 43px;
  height: 5px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 60%;
    border-radius: 100em;
    background-color: $accent;
    animation-name: progress;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &::after {
    left: 0;
    transform: translateX(-100%);
    animation-delay: 1s;
  }
}

.main__specialty ~ .main__stream-progress {
  display: none;
}

.main__stream-error ~ .main__stream-progress {
  &::before,
  &::after {
    background-color: $interactive;
  }
}

.main__supply-wrapper {
  margin-top: auto;
}

.main__supply {
  margin-bottom: 23px;
  padding: 31px 22px 41px 22px;
  color: $text-invert;
  background-color: $accent;

  &--background-dark {
    background-color: $background-invert;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 62px;
  }
}

.main__supply-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.main__supply-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.main__supply-list {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  list-style: none;
}

.main__supply-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $accent;
  }
}

@media (min-width: $tablet-width) {
  .main__stream {
    padding-top: 71px;
    padding-bottom: 171px;
  }

  .main__stream-title {
    margin: 0 auto 89px auto;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 700;
  }

  .main__specialty {
    margin-bottom: 68px;

    &:last-of-type {
      margin-bottom: 131px;
    }
  }

  .main__supply-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .main__supply {
    margin-bottom: 0;
    padding: 36px;
  }

  .main__supply-title {
    font-size: 36px;
    line-height: 43.2px;
  }
}

@media (min-width: $desktop-width) {
  .main__supply {
    margin-bottom: 0;
    padding: 56px;
  }
}
