*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}


body {
  min-width: $min-width;
  font-family: "Styrene A Web", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: $text-basic-light;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $container-mobile;
}

@media (min-width: $tablet-width) {
  body {
    color: $text-basic;
  }

  .container {
    padding: 0 77px;
    max-width: $container-desktop;
  }
}
