// Colors

$accent: hsl(219, 100%, 50%);
$interactive: hsl(0, 0%, 85%);

$text-basic: hsl(0, 0%, 10%);
$text-basic-light: hsl(0, 0%, 15%);
$text-invert: hsl(0, 0%, 100%);

$background-basic: hsl(0, 0%, 100%);
$background-neutral: hsl(0, 0%, 97%);
$background-invert: hsl(0, 0%, 15%);

// Media

$min-width: 320px;
$tablet-width: 900px;
$desktop-width: 1200px;

// Container

$container-mobile: 600px;
$container-desktop: 1440px;
