// Colors

$accent: #ff3535;
$interactive: #d9d9d9;

$text-basic: #000000;
$text-basic-light: #262626;
$text-invert: #ffffff;

$background-basic: #ffffff;
$background-neutral: #f7f7f7;
$background-invert: #2d2c2a;

// Media

$min-width: 320px;
$tablet-width: 900px;
$desktop-width: 1200px;

// Container

$container-mobile: 600px;
$container-desktop: 1440px;
