// Colors

$accent: #0062ff;

$text-basic: #000000;
$text-placeholder: #777777;

$background-basic: #ffffff;
$background-neutral: #ededed;
$background-input: #e6e6e6;

// Media

$min-width: 320px;
$desktop-width: 768px;
